*{
    margin: 0;
    padding: 0;
    
 }

 [v-cloak]{
     display: none;
 }
 a{
    text-decoration: none;
    color:rgb(19, 5, 5);
 }
 #app{
     width: 500px;
     height: 250px;
     background-color: rgba(250, 250, 249, 1);
     position: relative;
     left: 550px;
     top: 50px;
 }
 .h201{
     position: absolute;
     left: 50px;
     top: 20px;
     color: rgba(99, 99, 99, 1);
 }
 .input01{
     width: 327px;
     height: 30px;
     background-color: rgba(230, 230, 230, 1);
     position: absolute;
     left: 48px;
     top: 65px;
 }
 .input02{
    width: 327px;
    height: 30px;
    background-color: rgba(230, 230, 230, 1);
    position: absolute;
    left: 48px;
    top: 120px;
}
.bu01{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 140px;
    top: 180px;
}
.bu02{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 200px;
    top: 180px;
}
h3{
    color: rgba(99, 99, 99, 1);
    position: absolute;
    left: 63px;
    top: 205px;
}
h4{
    size: 15px;
    color: rgba(99, 99, 99, 1);
    position: absolute;
    left: 140px;
    top: 225px;
}